/* Reset spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Smooth fonts */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Let App.css control the full layout */
html, body, #root {
  height: 100%;
}
